body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 30px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  .center {
    text-align: center;
  }

  .hero {
    text-align: center;
    padding: 20px;
  }

  .features {
    padding: 10px;
    text-align: center;
  }

  .feature {
    margin-bottom: 20px;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto 20px;
    overflow: hidden;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 20px;
    text-align: center;
  }


  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
  }

  .button:hover {
    background-color: #555;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  footer p {
    margin: 0;
  }