{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>25 MPH Vest</title>
    <link rel="stylesheet" type="text/css" href="{% static 'safetyvestapp/style.css' %}">
</head>
<body>
    <header>       
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about_page' %}">About Us</a></li>
                <li><a href="{% url 'cart_page' %}">Cart</a></li>
            </ul>
        </nav>
        
    </header>

    <div class="center">
        <img src="{% static 'images/vest.png' %}"   >
    </div>
    
    <section class="hero">
        <div class="hero-content">
            <h1>Stay Safe with 25 MPH Vest</h1>
            <p>Protect yourself while cycling with our high-visibility safety vest.</p>
            
        </div>
    </section>
    
    <section class="features">
        <h2>Key Features</h2>
        <div class="feature">
            <h3>High Visibility</h3>
            <p>Stay visible to motorists day or night.</p>
        </div>
        <div class="feature">
            <h3>Lightweight</h3>
            <p>Comfortable and easy to wear.</p>
        </div>
    </section>
    <div class="cta">
        <a href="#" class="button">Buy Now</a>
    </div>
    <footer>  
        <div class="social-icons"></div>
        <p>&copy; 2024 UNH 25 MPH Vest</p>
    </footer>
</body>
</html>
